<head>
    <meta charset="UTF-8">
    <meta content="Web Application Development, COMP 229" name="keywords">
    <meta content="eduardo missono webpage" name="description">
    <link rel="stylesheet" href="css/myPortfolio.css" type="text/css">
    <title><%= title %></title>
</head>

