<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 03, 2022-->
<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="Web Application Development, COMP 229" name="keywords">
    <meta content="eduardo missono webpage" name="description">
    <link rel="stylesheet" href="../css/myPortfolio.css" type="text/css">
    <script src="https://kit.fontawesome.com/9412d2d7bc.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>

