<nav>
    <a href="/" class="logo">eduDev</a> |
    <a href="/about">About Me</a> |
    <a href="/projects">Projects</a> |
    <a href="/services">Services</a> |
    <a href="/contact">Contact</a>
    <a href="https://github.com/dudumissono" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
    <a href="https://www.linkedin.com/in/eduardomissono/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
</nav>