<nav>
    <a href="/"><img src="img/eduDev_navLogo.png" height="20"></a> |
    <a href="/about">About Me</a> |
    <a href="/projects">Projects</a> |
    <a href="/services">Services</a> |
    <a href="/contact">Contact</a>
</nav>