<header>
    <img class="logo" src="/img/eduDev_logo.png" alt="logo" style="float: left" height="102">
    <h3>COMP 125 - Client-Side Web Development - Summer 2022</h3>
    <h4>Student Name: Eduardo Missono - Student Number: 301200673</h4>
</header>